body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
  }
  
  h1 {
    font-size: 4rem;
    margin: 0;
    animation-duration: 3s;
    animation-name: tracking-in-expand;
  }
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  #img-div {
    background-color: #180f0d;
    padding: 10px;
    border-radius: 8px;
  }
  
  #image {
    display: block;
    max-width: 100%; 
  }
  
  #img-caption {
    background-color: #180f0d;
    color: #f5f6f7;
    display: block;
    padding-bottom: 2px;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  #main {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 0 10px 0;
  }
  
  ul {
    margin: 0 50px 0 40px;
    display: block;
    list-style: none;
    text-align: left;
  }
  
  li {
    margin: 0 0 1.5rem 0;
  }
  
  #tribute-link {
    background-color: #37af65;
    color: #5c5c8c;
    border-radius: 5px;
    padding: 0 3px;
    text-decoration: none;
  }
  
  #tribute-link:hover {
    color: #f5f6f7;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 2.5rem;
    }
    ul {
      margin: 0;
      padding: 0 40px;
    }
  }
    